public/libs
node_modules
tmp
test/coverage
test/results
.tmp
.sass-cache
app/bower_components
target/
build/
.gradle
datanucleus.log
.DS_Store
out
*.iml
*.ipr
*.iws
.idea
.settings
.classpath
.project
.htaccess
404.html
robots.txt
*.sublime-*
public/dist/
test/coverage
src/main/webapp
allclasses-frame.html
allclasses-noframe.html
constant-values.html
deprecated-list.html
help-doc.html
overview-frame.html
overview-summary.html
overview-tree.html
package-list
temp/
public/libs/