.message-box {

	&__list {
		position: absolute;
		top: 60px;
		left: 300px;
		right: 0;
		bottom: 67px;
		padding: 30px;
		overflow-y: scroll;
	}

	&__item {
		&__contents {
			background: rgba(0, 0, 0, 0.08);
			float: left;
			font-size: 14px;
			font-weight: 400;
			border-radius: 10px;
			padding: 10px 15px;
		}

		&--from-current {
			.message-box__item__contents {
				float: right;
				background: #218CB9;
				color: #fff;
			}
		}

		&--read {
			.message-box__item__contents {
				background: none;
				padding: 4px 0;
				font-size: 12px;
				color: rgba( 0, 0, 0, 0.8 );
				font-weight: bold;
				float: right;
			}
		}
	}

	.reply-box {
		position: absolute;
		left: 300px;
		bottom: 0;
		right: 0;
	}
}